<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Best Ecommerce Website | ecom.com</title>
        <link rel="stylesheet" href="/css/landingPage.css" />
        <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        />
    </head>
    <body>
        <header>
            <div class="shipping-banner">
                Free Shipping On Orders Over £50 (UK) £200 (International)
            </div>
            <nav id="navbar">
                <div class="logo">Folk</div>
                <div class="search-bar">
                    <input type="text" placeholder="Search products..." />
                    <button title="submit" type="submit"></button>
                </div>
                <ul class="nav-links">
                    <li>
                        <a href="#">MEN'S <span class="arrow">&#9662;</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Submenu 1</a></li>
                            <li><a href="#">Submenu 2</a></li>
                            <li><a href="#">Submenu 3</a></li>
                            <li><a href="#">Submenu 4</a></li>
                            <li><a href="#">Submenu 5</a></li>
                            <li><a href="#">Submenu 6</a></li>
                            <li><a href="#">Submenu 7</a></li>
                            <li><a href="#">Submenu 8</a></li>
                            <li><a href="#">Submenu 9</a></li>
                            <li><a href="#">Submenu 10</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"
                            >WOMEN'S <span class="arrow">&#9662;</span></a
                        >
                        <ul class="dropdown-menu">
                            <li><a href="#">Submenu 1</a></li>
                            <li><a href="#">Submenu 2</a></li>
                            <li><a href="#">Submenu 3</a></li>
                            <li><a href="#">Submenu 4</a></li>
                            <li><a href="#">Submenu 5</a></li>
                            <li><a href="#">Submenu 6</a></li>
                            <li><a href="#">Submenu 7</a></li>
                            <li><a href="#">Submenu 8</a></li>
                            <li><a href="#">Submenu 9</a></li>
                            <li><a href="#">Submenu 10</a></li>
                        </ul>
                    </li>
                    <li><a href="#">STORES</a></li>
                    <li><a href="/cv" target="_blank">CV</a></li>
                    <li><a href="#">ABOUT</a></li>
                    <li><a href="#" class="sale">SALE</a></li>
                </ul>
                <ul class="nav-icons">
                    <li><a href="#">PKR Rs</a></li>
                    <li><a href="/login" target="_blank">LOGIN</a></li>
                    <li><a href="/register" target="_blank">REGISTER</a></li>
                    <li><a href="/checkout" target="_blank">CART</a></li>
                </ul>
            </nav>
        </header>

        <%- body %>

        <div id="newsletter" class="section-p1 section-m1">
            <div class="newtext">
                <h4>Sign Up For Newsletter</h4>
                <p>
                    Get E-mail updates about our latest shop and
                    <span>special offers.</span>
                </p>
            </div>
            <div class="form">
                <input type="text" placeholder="Enter Your Email" />
                <button class="normal">Sign Up</button>
            </div>
        </div>

        <div id="footer" class="section-p1">
            <div class="col">
                <div class="logo">Folk</div>
                <h4>Contact</h4>
                <p>
                    <strong>Address:</strong> 562 Wellington Road, Street 32,
                    San Francisco
                </p>
                <p><strong>Phone:</strong> +01 2222 365 / (+91) 01 2345 6789</p>
                <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
                <div class="follow">
                    <h4>Follow Us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <h4>About</h4>
                <ul style="list-style: none">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>My Account</h4>
                <ul style="list-style: none">
                    <li><a href="#">Sign In</a></li>
                    <li><a href="#">View Cart</a></li>
                    <li><a href="#">My Wishlist</a></li>
                    <li><a href="#">Track My Order</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>
            <div class="col install">
                <h4>Install App</h4>
                <p>From App Store or Google Play</p>
                <div class="row">
                    <img src="/img/apps/app.jpg" alt="Loading.." />
                    <img src="/img/apps/play.jpg" alt="Loading.." />
                </div>
                <p>Secured Payment Gateways</p>
                <img src="/img/pay.png" alt="Loading" />
            </div>
            <div class="copyright">
                <p>© 2025, Folk etc - HTML CSS Ecommerce Templete</p>
            </div>
        </div>
    </body>
</html>
<!--  -->
<!--  -->
