<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>
        <link rel="stylesheet" href="/css/register.css" />
    </head>
    <body>
        <div class="container">
            <div class="form-box">
                <h2 id="form-title">Register with Us</h2>
                <form id="authForm">
                    <input
                        type="text"
                        id="regName"
                        placeholder="Full Name"
                        required
                    />
                    <input
                        type="email"
                        id="regEmail"
                        placeholder="Email"
                        required
                    />
                    <input
                        type="password"
                        id="regPassword"
                        placeholder="Password"
                        required
                    />
                    <input
                        type="password"
                        id="regConfirmPassword"
                        placeholder="Confirm Password"
                        required
                    />

                    <p id="errorMsg" style="display: none"></p>
                    <button type="submit">Register</button>
                </form>
                <p>
                    Already have an account?
                    <a href="/login">Login</a>
                </p>
            </div>
        </div>
        <script src="/scripts/register.js"></script>
    </body>
</html>
