* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* section {
                margin-bottom: 20px;
            } */
body {
    background-color: #d2cece;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 20px;
}
.cv-container {
    width: 800px;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.header {
    height: 150px;
    background-color: #625b5b;
    color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.header img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px;
    display: flex;
    margin-right: 15px;
}
.content {
    display: flex;
    margin-top: 30px;
    flex-grow: 1;
    height: 100%;
    align-items: stretch;
}

.left {
    width: 40%;
    background-color: hsl(0, 14%, 91%);
    z-index: 10;
    top: 20px;
    padding: 20px;
}
.right {
    width: 60%;
    padding: 20px;
}
.right time,
.left time {
    color: rgb(107, 100, 100);
    font-weight: normal;
}
h2,
h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
ul {
    list-style-type: disc;
    padding-left: 25px;
}
ul li,
p {
    margin-bottom: 20px;
}
